[2017-10-24 19:47] jishnujayakumar opened #1 "What is this project about?"

[2017-10-25 19:17] AdiChat commented on #1
We are building a realtime search tool for Cosmos which will enable users to search for anything conveniently. The end goal is to extend this tool is provide Cosmos as an offline search tool.

This is in active development at our Slack community 😍

[2017-10-26 01:23] jishnujayakumar commented on #1
What is Cosmos?

[2017-10-26 08:28] AdiChat commented on #1
Cosmos is our knowledge base and this tool is different from existing tools in several aspects (one being it works offline). This is, clearly, evident through our end goal. Introductory discussions are mainly reserved for Slack. 👍

[2017-10-28 14:54] Pl4gue commented on #1
@AdiChat  I would be interested in helping as well,  is this possible?

[2017-10-28 17:35] nuhman commented on #1
@AdiChat why this repo is empty if development is already started in slack?

[2017-10-28 23:47] AdiChat commented on #1
@Pl4gue Yes, we would love to have you in our team. I have send you an invite for Slack. 👍

@nuhman This repository is empty because we have not decided to push our present work yet.

[2017-11-05 15:19] Sangeetha-007 opened #2 "Is there anyway I can participate in OpenGenus?"
I got the invite like last week, but the link expired by now.

[2017-11-06 07:41] sidmishraw commented on #1
@AdiChat Could I get an invite to the Slack channel 😄

[2017-11-06 17:54] AdiChat commented on #1
Welcome @sidmishraw 🎉 I have send you an invite for Slack 👍

[2017-11-06 18:01] AdiChat commented on #2
There are several scopes of contributions. Everyone can contribute at OpenGenus 👍
I have send you an invite on Slack. You may discuss with us there 👍

[2017-11-13 09:38] #2 closed

[2017-11-13 09:39] #1 closed

[2017-11-14 21:00] vaibhavsingh97 opened #11 "Imporve readme"
Right now readme donesnot contain instructions to deploy locally

[2017-11-14 21:20] vaibhavsingh97 opened #13 "Issue and PR template"

[2017-11-14 21:26] vaibhavsingh97 opened #15 "Lot of unwanted files present in this repo"

[2017-11-15 01:09] #15 closed

[2017-11-15 01:15] #11 closed

[2017-11-17 15:50] itaditya opened #19 "Incorrect Links for Algorithms github code"
Go to http://search.opengenus.org/query/?q=byte

The first search result would be bit-manipulation/byte_swapper .
Click on solution dropdown and then on ByteSwapper.java .
It will take you to an incorrect link i.e. https://github.com/OpenGenus/cosmos/blob/master/code/bit-manipulation/byte-swapper/ByteSwapper.java

But it should be https://github.com/OpenGenus/cosmos/blob/master/code/bit-manipulati

[2017-11-17 15:50] itaditya commented on #19
Notice the incorrect hyphen instead of underscore in the byte and swapper

[2017-11-21 21:07] AdiChat commented on #19
Thanks for reporting this :+1:

The app has been updated with a new search algorithm and updated data.

It looks like that our update system has not been correctly configured on the server. We expected all changes to be reflected automatically. We will look into this.

Sorry for the inconvenience caused. We hope to make the experience better.

[2017-11-21 21:42] AdiChat commented on #19
The update feature is working now as well 👍

[2017-11-22 13:19] itaditya commented on #19
Great

[2017-11-22 13:20] #19 closed

[2017-12-01 02:24] #13 closed

[2018-01-07 16:22] AdiChat opened #21 "Random pre-filled search bar"
This is a:
- [ ] bug report
- [x] feature request

**Description**:

Randomly load a search term to aid the user to move further. User may be a beginner or may be at a loss of search terms.
This is aid anyone to randomly learn a topic.

For instance, the search bar may be pre-filled with a search term say `binary search`. For this point, user will have two options:
* Press enter to explore the ran

[2018-01-08 11:17] Pl4gue commented on #21
:+1: @AdiChat Will work on that!

[2018-01-08 14:28] AdiChat commented on #21
Great 👍 Go for it.

[2018-01-12 16:16] AdiChat opened #25 "Suggestions based on a search result for further exploration"
This is a:
- [ ] bug report
- [x] feature request

**Description**:

Generate suggestions for a particular search result. This will aid one to proceed to learn a new topic related to the initial topic.

For instance, the initial search may be for `linear search`. In this case, the suggestions may be `fibonacci search`, `fuzzy search`, `binary search` and the like.

This requires to pick up a folde

[2018-02-01 22:57] abdouskamel opened #29 "Not getting all matching results when searching"
Hello everybody,

I'd like to thank you for your work. I submit here my first issue in this repository.

**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Description**:

I have tried to search for _round robin_ in Cosmos search.

**Expected Behavior**:

All implementations of round robin in Cosmos.

**Actual Behavior**:

Getting just two implementations instead of three. [Here](h

[2018-02-06 10:56] #25 closed

[2018-02-06 11:09] valaparthvi opened #34 "Add a command to setup virtualenv in the Readme file."
I would like to request a change in the Readme file.
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Description**: Correct me if I'm wrong, but I think setting up a virtualenv is mandatory before running the search engine locally. Curently, there is no mention of creating a virtual environment in the Readme instructions. Even though it's quite obvious, I think mentioning it in

[2018-02-07 02:43] sarvanideekshitula commented on #29
The implementation which is not displayed isn't there in `metadata.json` file.

In json file it should be something like:
`"operating_system/round_robin_scheduling": ["round_robin_c/round_robin.c", "round_robin_scheduling.cpp","round_robin_scheduling.java"]`

In `metadata.json` it is like:
 `"operating_system/round_robin_scheduling":["round_robin_scheduling.cpp","round_robin_scheduling.java"]`

I

[2018-02-08 18:29] #34 closed

[2018-02-09 12:24] ankan17 commented on #21
Is this issue still available? I'd like to work on the issue

[2018-02-09 12:33] ankan17 opened #36 "Code and settings should be separate"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Description**:

It is usually a good idea in a Django project to keep the settings separately and not commit those along with the code in the settings.py file (e.g., the SECRET_KEY and ALLOWED_HOSTS, etc.)

**Expected Behavior**:

The settings should be separated from the code in settings.py file. Python Decou

[2018-02-10 12:45] AdiChat commented on #29
Yes, the metadata is expected to update automatically.

It looks like as the app goes to sleep after a period of inactivity, the update is failing.

[2018-02-11 02:38] AdiChat opened #37 "Display code in search engine instead of redirecting"
**I'm submitting a:**
- [ ] bug report
- [x] feature request

**Description**:

Instead of redirecting to GitHub for every code result, we can fetch the code from the server and display it in a new page.

The code base (that is Cosmos) is maintained at the server side as a part of the meta-data update process. You may, also, fetch the raw code data from GitHub (instead of server) if convenient.

C

[2018-02-11 02:54] AdiChat opened #38 "Add ability to share a page"
**I'm submitting a:**
- [ ] bug report
- [x] feature request

**Description**:

Incorporate the ability to share a page/ search result to social media platforms. The sharing icons may appear below the search bar that is adjacent to the result information (`Showing 1 results for: linear search` for search term `linear search`).

Initially, you may support 3 platforms namely: Twitter, Google+ and Fa

[2018-02-11 03:16] AdiChat opened #39 "Generate the list of tags"
**I'm submitting a:**
- [ ] bug report
- [x] feature request

**Description**:

Create a list of tags that will help in developing several other features. To create the list of tags, you may use the `folder name` as a tag and dynamically, generate the list of tags.
Consider the following path: `code/search/src/linear_search`:For this path, we will get two tags `search` and `linear search`.

Just l

[2018-02-11 03:36] AdiChat opened #40 "Real-time search suggestions"
**I'm submitting a:**
- [ ] bug report
- [x] feature request

**Description**:

Using the list of tags, give user real-time search suggestions as the user types.
The suggestions will contain results from the list of tags and can be generated by string matching.

Consider the user types `l` in the search bar, then the suggestions will be: `longest_palindrome sequence`, `Longest Bitonic Sequence`, `

[2018-02-11 03:48] AdiChat commented on #21
This feature can be achieved by creating the list of tags and randomly selecting a tag. See issue #39

@ankan17 you may attempt creating the list of tags as it is a preliminary step towards this feature. 👍

[2018-02-11 04:35] ankan17 commented on #36
@AdiChat Should I go forward with this issue?

[2018-02-11 04:55] ankan17 commented on #39
Should I use the metadata.json file as a source for the list of tags?

[2018-02-11 05:26] AdiChat commented on #36
Yes, this seems to be important. Go for it 👍

[2018-02-11 05:28] AdiChat commented on #39
Yes, you can use `metadata.json` as a source to generate the list of tags. 👍

[2018-02-11 05:44] sakshee-19 commented on #40
I would like to work on it. @AdiChat

[2018-02-11 05:58] sakshee-19 commented on #38
Do we want to share code of the topic searched or the whole page resulted after searching ? And linkedIn can also be added ? @AdiChat

[2018-02-11 08:02] ankan17 opened #42 "__pycache__ should be in .gitignore"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request

**Description**:

__pycache__ should be in .gitignore. It is not meant to be in the git repo.

**Expected Behavior**:

__pycache__ should be in .gitignore and not in the repo

**Actual Behavior**:

__pycache__ is not in .gitignore.

**Steps to Reproduce**:

Check the cosmos-search folder.

**Screenshots (if any)

[2018-02-11 08:51] ankan17 commented on #42
__pycache__ folder contains byte-code which is not meant to be committed @AdiChat

[2018-02-11 14:50] sakshee-19 opened #44 "Page not found error while opening code files"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Description**:
There is bug in redirecting link of code files.  It shows "error 404 Web Page in not found".

**Expected Behaviour**:
When we click on any code shown in solution drop down, it should redirect to GitHub page where the code is present.

**Actual Behaviour**:
On clicking to the code, it is showing page not found error.

[2018-02-11 17:14] sakshee-19 commented on #44
@AdiChat  can I go ahead with this issue?

[2018-02-11 17:24] AdiChat commented on #44
I guess this error came up while running Cosmos-Search locally. This is concerned with the fact that we have not updated the `metadata.json` (in this repository) for some time while there have been structural changes in Cosmos.

You need to update the metadata. Take a look [here](https://github.com/OpenGenus/cosmos-search/blob/master/update/views.py#L7). Go for it 👍

[2018-02-11 17:51] shefalimsr commented on #37
I would like to work on this.

[2018-02-11 18:33] AdiChat commented on #37
Sure. @shefalimsr Go for it 👍

[2018-02-12 06:49] sakshee-19 commented on #38
@AdiChat I have included sharing option. It is looking like shown in screenshot. Social media sharing function is working fine. Would you suggest some change in front end.
![screenshot from 2018-02-12 12-15-52](https://user-images.githubusercontent.com/25522394/36085819-9406f974-0fee-11e8-94c0-71ae9ad279b4.png)

[2018-02-12 09:44] sakshee-19 commented on #38
@AdiChat I think this is more suitable
![screenshot from 2018-02-12 15-10-53](https://user-images.githubusercontent.com/25522394/36090696-5ef0f14a-1007-11e8-8c11-7629b9ac60b3.png)

[2018-02-12 16:50] sakshee-19 commented on #44
@AdiChat The metadata received to the server does not contain the key ```HTTP_X_HUB_SIGNATURE```. I guess this is due to the fact that I am running on localhost. Could you please help me out?

[2018-02-13 07:51] ankan17 opened #49 "Should we add a linting tool?"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Description**:

A linting tool like flake8 is necessary to have the code live in the repository in a proper way and to have a good code base.

**Expected Behavior**:

A linting tool should be implemented and the current linting issue should be resolved.

**Actual Behavior**:

No linting tool, so the code doesn

[2018-02-13 07:51] ankan17 commented on #49
@AdiChat What do you think?? :)

[2018-02-13 08:52] vaibhavsingh97 commented on #37
@shefalimsr What approach you are going to use? As Scrapping content and presenting code to user is a bad idea. Also, what I think if we have a backend server is to cache the content and then just make an AJAX request and present code to user.

[2018-02-13 09:06] sakshee-19 commented on #40
It seems you have only generated list and the whole issue is not solved yet in your PR @ankan17 . As, I have already made progress into this issue can I take this further. I have almost done resolved the issue. @adichat @ankan17

[2018-02-13 09:52] ankan17 commented on #40
I have not yet sent a PR for this issue because the original issue on which it is based has not been merged yet. Doing work on it at this point will create merge conflicts. If you want to work on it, go ahead.

[2018-02-13 15:58] #39 closed

[2018-02-13 16:44] sakshee-19 opened #51 "static_root is not defined"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Description**:
There is no ```static_root``` defined. Hence, it is creating problem whenever we are running command ```python manage.py collectstatic``` .

**Expected Behavior**:
The collectstatic management command should collect static files into the mentioned directory.

**Actual Behavior**:
![screenshot from 2018-02-13 18-55-17

[2018-02-13 16:46] sakshee-19 commented on #51
@AdiChat should I go ahead with this issue?

[2018-02-13 18:55] AdiChat commented on #49
Yes, it is nice to have a linting tool added. 👍

[2018-02-13 18:56] AdiChat commented on #51
Sure. Explore this issue 👍

[2018-02-13 19:45] sakshee-19 commented on #44
@AdiChat This problem has been fixed by PR #39.

[2018-02-14 12:11] #21 closed

[2018-02-15 15:24] #38 closed

[2018-02-15 15:30] #44 closed

[2018-02-16 20:41] ankan17 opened #54 "Incorrect metadata genrated due to inconsistent folder structure"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request

**Description**:

Metadata is not generated correctly because of inconsistent folder structure and the code is not able to handle that situation.

**Expected Behavior**:

Correct metadata should be generated, if possible, irrespective of the folder structure. There may be a strict folder structure for the **cosm

[2018-02-16 20:48] ankan17 commented on #29
Actually correct metadata is not being generated due to the folder structure. See #54.

[2018-02-17 04:56] sakshee-19 commented on #40
@AdiChat @Pl4gue  I have added the feature. But I want to ask weather we should restrict the no of suggestions or not. In the screenshot, it is showing all the possible tags containing ```substring``` written in ```search bar```. Suggestions required :)
![screenshot from 2018-02-17 10-18-29](https://user-images.githubusercontent.com/25522394/36338112-99db4e54-13cc-11e8-8457-65cd059e6aa4.png)
![scr

[2018-02-17 13:16] pragyach opened #55 "Back Button"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Description**:

If I go for  searching  anything there is no back button on the page to return to previous or home page.

**Would you like to work on this issue?**
- [x] Yes
- [ ] No

[2018-02-17 13:25] Pl4gue commented on #55
Nice idea, but I however don't really get the benefit. The user can just press the browser back button...

[2018-02-17 13:28] Pl4gue commented on #40
Great work, thanks @sakshee-19 !
However, I think that your suggestions container kind of blocks the users' view.
Maybe limit it to the first 6/7.

[2018-02-17 13:36] #51 closed

[2018-02-17 13:44] #36 closed

[2018-02-17 18:05] pragyach commented on #55
Yes I agree with your reply.So in addition to back button concept we can store user's search history similar to you tube,Chrome etc in order to make cosmos search more user specific.For doing this we may need to ask user to sign in with gmail or something else.

[2018-02-17 18:25] AdiChat commented on #55
Hi @pragyach :v:
User authentication and history are on our plan. If we store user history, we can create exciting new features like personalized learning paths, develop the mental model of the user based on knowledge gained and many more. 🎉

For this, the basic outlay is to create the authentication system and store the search history. You can work on this. 👍

Feel free to get in touch if you nee

[2018-02-17 20:58] AdiChat commented on #37
Yes, scrapping should not be considered as an option as this is inefficient and is heavily tied to the current GitHub UI.

The code can be fetched from the backend server or getting the raw data from GitHub. 👍

[2018-02-17 21:08] AdiChat opened #58 "Add computational power"
**I'm submitting a:**
- [ ] bug report
- [x] feature request 🏆

**Description**:

We must provide some _computational 💻 power_ to the search engine. We must define a set of search keyword formats and on matching, we must trigger the corresponding computation and present the result.
For instance, if the user searches `2*5` or `2 X 5`, we must return 10. 📅

Basic operations such as addition, subtrac

[2018-02-17 22:14] sakshee-19 commented on #58
I would like to work on it.

[2018-02-18 03:09] pragyach commented on #55
Thank you @AdiChat  you made me more clear about this feature. I will start with basic outlay to create authentication system for google sign in first.

[2018-02-19 17:34] anjalijaiswal08 commented on #29
I would like to work on this issue .

[2018-02-20 14:34] AdiChat commented on #58
Sure. Go for it :+1:

[2018-02-20 14:36] AdiChat commented on #55
Sure @pragyach Go for it.  Keep us updated on your progress :+1:

[2018-02-20 14:47] AdiChat commented on #40
@sakshee-19 You may show 5 suggestions that are randomly chosen from the suggestion results set.

Instead of the typed word being a substring, you may look for strings that begin with the typed word/ letters. This will look more natural to the user and will be a minor change. :smile:

Feel free to send a pull request anytime. :+1:

[2018-02-20 15:34] Pl4gue commented on #55
Well I will close this issue now, kindly open up a new issue for authentication which we can then assign to you :+1: :smile: @pragyach

[2018-02-20 15:34] #55 closed

[2018-02-20 15:59] Pl4gue commented on #42
Pycache is already in gitignore, closing this issue

[2018-02-20 15:59] #42 closed

[2018-02-20 16:01] Pl4gue commented on #58
Assigned it to you @sakshee-19 :+1:

[2018-02-20 16:06] Pl4gue commented on #40
I would prefer how it is now... because I would like all sorts to be shown on query "sort" (in your case it wouldn't show quick_sort i.e. @AdiChat

[2018-02-20 16:11] pragyach opened #59 "Authentication"
**I'm submitting a ...**  (check one with "x")

- [x] feature request

**Description**:
We can store user's search history similar to you tube,Chrome etc in order to make cosmos search more user specific.For doing this we may need to ask user to sign in with gmail or something else. As stated by @AdiChat "If we store user history, we can create exciting new features like personalized learning path

[2018-02-20 18:52] AdiChat commented on #40
We. already, provide suggestions for a particular search.

This feature is to aid user to go in one direction of learning whereas the suggestions feature (which already exists in our search engine) provides multiple paths of learning.

Even in this case, keyword `sort` will provide various sorting algorithms as typed suggestions as it will match the second word. So, when a user intends to type `li

[2018-02-20 18:57] AdiChat commented on #59
Sure. Go for it. Keep us updated on your progress. :+1:

[2018-02-20 19:53] vaibhavsingh97 commented on #59
@pragyach I would recommend you to check [allauth](http://django-allauth.readthedocs.io/en/latest/overview.html). This has excellent support for authentication.
CC: @AdiChat

[2018-02-20 22:26] Pl4gue commented on #59
Or use firebase auth @pragyach @vaibhavsingh97 That's what I personally have been using since and I got along with it quite well, very feature-rich and still easy to use 👍

[2018-02-20 22:27] Pl4gue commented on #40
Alright 👍 @AdiChat

[2018-02-21 17:16] pragyach commented on #59
I have previously worked with firebase so I will once do it with firebase integration of Gmail and simultaneously I will check allauth and try it. @vaibhavsingh97 @Pl4gue

[2018-02-21 17:29] pragyach commented on #59
I have one more doubt.Shall we make a landing page similar to github where we can explain all about different features of cosmos-search and make compulsory for user to sign in with Gmail.Second option is we can just display sign in with Gmail option on top right corner of recent home page of cosmos-search.
Please suggest @AdiChat  @Pl4gue

[2018-02-21 18:12] AdiChat commented on #59
A landing page explaining the different features of Cosmos-search will be great. :tada:

Sign in should be optional such that any user may use the search engine but on signing in, one will enjoy benefits like personalized learning paths and others. Compulsory sign-in may discourage some users from using our search engine but may eventually, go for it on observing the upcoming benefits.

So, you ma

[2018-02-21 19:00] pragyach commented on #59
OKay @AdiChat  I will go forward with building landing page along with sign in and sign up option on top right  which will be just like on-boarding kind.User will have an option to skip and can use cosmos search.

[2018-02-22 18:56] AdiChat opened #60 "Voting feature for anonymous users"
**This is a:**
- [ ] bug report
- [x] feature request

**Description**:

Add a voting feature :star:  that works for anonymous users.

For this, you may assign a voting to each category of codes in the meta-data. When a user votes for a particular search result, store the vote assigned along with the IP address of the user in a database. On displaying, calculate the average vote and display it.

T

[2018-02-22 19:27] Shweta4321 commented on #60
I would like to work on this issue

[2018-02-23 16:33] AdiChat commented on #60
@Shweta4321 Feel free to work on this feature. Keep us updated on your progress :+1:

[2018-02-24 08:06] sakshee-19 commented on #58
@AdiChat @Pl4gue There is no secret key in ```settings.py``` file. Now it has moved into the ```.env_example``` and it is mentioned that ARandomSecretKey. Now when I am trying to run ```manage.py runserver``` then it asked me that there is no secret key in ```settings.py``` . Please illustrate me how I should connect my``` .env_example``` file. I am attaching a screenshot of my problem.
![screensh

[2018-02-24 10:42] AdiChat commented on #58
@sakshee-19 The problem is the environmental variables have not been set.

Did you try `cp .env.example .env`?
You may additionally, set the environmental files at `.bashrc`. Include the following lines at the end of the file:
[code]
Then, type the command `source ~/.bashrc` to reload it.

The issue must be resolved at this point. Let us know if it worked. :+1:

[2018-02-24 11:55] sakshee-19 commented on #58
@AdiChat  Thanks, It is working using ```cp .env.example .env``` . We should include it in ```README.md```.

[2018-02-24 14:16] Shweta4321 commented on #60
@AdiChat  What should be the ```key``` for different codes in database to store ```avg rating``` done by the user?

[2018-02-24 17:16] pragyach commented on #59
I have built landing page with sign in and sign up option simply just by email address.I will be adding gmail sign in option on top nav bar. @AdiChat please suggest suitable changes.
![cosmo1090](https://user-images.githubusercontent.com/20520778/36633034-63fa11c4-19b4-11e8-8103-425bcb7599ee.png)

[2018-02-25 06:34] pragyach opened #62 "Comments Section"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Description**:

While using cosmos-serach  if user found some algorithm missing he could comment or give feedback for making this product better.

**Would you like to work on this issue?**
- [x] Yes
- [ ] No

[2018-02-25 06:49] pragyach opened #63 "Topic Tags on Main page"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Description**:
Whenever user enters cosmos-search he/she is not aware about topics like bit manipulation,AI etc.So in order to make user's learning path more smooth we can display topics on main page.

**Would you like to work on this issue?**
- [x] Yes
- [ ] No

[2018-02-25 13:27] AdiChat commented on #62
Moving searching to discussions is an important part of our vision.
For this, a post from [our Discourse forum](https://discourse.opengenus.org/) must be linked.

In addition, a comment section can be embedded from every search term. The strategy is to find an appropriate post at our Discourse forum for the search term and embed the first post. If there are no such posts, embed a default post. Thi

[2018-02-25 13:31] AdiChat commented on #63
Yes, this will aid the user in searching.

You may display a limited number of tags (say 10) under the search bar and point to another page that will list all tags. You must use the tags that are present in `tags.json`. The tags (under the search bar) may be randomly selected for now. Ideally, this should be related to the current search term.

You may work on this. Keep us updated on your progres

[2018-02-25 13:35] AdiChat commented on #60
You may use the key in `metadata.json` as the key for the `average_rating` table. For instance, `string_algorithms/src/kmp_algorithm` may have an average rating.

[2018-02-25 13:45] AdiChat commented on #59
The UI looks good. :+1:

You may re-design the page as the current design gives an impression that signing up is mandatory though we aim to keep it optional but recommended.

You may design it as having the search bar in the middle of the page and the features may be displayed as the user scrolls down. Keep it simple. The sign-up option can be placed at the right top corner which may direct to a c

[2018-02-25 14:38] pragyach commented on #59
According to what you explained it would be better if I change our current cosmos-search page ui because all these features could be imported there along with same search option.Am I understanding it right @AdiChat ?

[2018-02-25 14:41] pragyach commented on #63
Okay I understood your point.So in order to redirect to next page I will add one more tag after these 10 tags "More..." and then link new page with this button.Is this what you wish to be done? @AdiChat

[2018-02-25 16:50] AneriMehta opened #64 "Section to add code to missing algorithm."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Description**:
A section can be provided where code to some missing algorithms can be added as well as others can upvote or downvote this code or comment if there is any bug present.

**Would you like to work on this issue?**
- [x] Yes
- [ ] No

[2018-02-25 17:50] arnavb opened #65 "Pluralization Bug When Searching for Query with Only One Result"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Expected Behavior**:

- If I search something up in the engine, and it only has 1 result, I would expect the query to say: "Showing 1 **result** for: query"

**Actual Behavior**:

- If I actually do the above, the query responds with "1 **results**", which is grammatically incorrect.

**Steps to Reproduce**:

- Go to http://search.

[2018-02-26 01:44] arnavb opened #67 "Remove test cases from search results"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request

**Description**:

If I search up something such as test in the search, I get results that include the testing of the algorithms in cosmos. Users don't really care about this, so such results should be filtered out.

**Expected Behavior**:

N/A

**Actual Behavior**:

You see test results

**Steps to Reproduce**:

[2018-02-26 01:46] arnavb commented on #59
Hey, just as a suggestion, you can also add Github authentication as well. (Most github based tools usually allow you to sign in with Github)

[2018-02-26 03:01] pragyach commented on #62
I did not think up to that scalable use of this feature.According to what you said we can make a comment option that will be editable text.When user will click on comment then according to whatever query he has submitted we can redirect him to "our discourse form" section which will be suitable to his doubt.I think for this we will have to use natural language processing for keyword extraction and

[2018-02-26 03:03] pragyach commented on #64
I think that will be covered in issue#62.

[2018-02-26 03:20] pragyach commented on #67
I also think giving output for testing for algorithms will be out of the context result.If this is done intentionally @AdiChat  then instead we can add it as feature on main page for testing code for  algorithms.Then on clicking to this he/she will be rendered to page which simply contain list of testing algorithms with names.
![cosm](https://user-images.githubusercontent.com/20520778/36651976-eab

[2018-02-26 03:21] AneriMehta commented on #64
Okay, @pragyach.

[2018-02-26 03:28] #64 closed

[2018-02-26 03:36] pragyach commented on #59
Hey @arnavb, Ya sure we can keep sign in with with github.Github has its own base platform for enabling its authentification.So firstly I will work with firebase then proceed with github.

[2018-02-26 14:21] AdiChat commented on #63
Yes, this should be good. :+1:

[2018-02-26 14:53] AdiChat commented on #62
This is simpler than you think. No NLP required. :smile:

For instance, if a user searches `binary search`, then the concerned Discourse post is [this one](https://discourse.opengenus.org/t/binary-search-algorithm/16). You can get this result using the [Discourse API](http://docs.discourse.org/#tag/Search). This post can be embedded on the results page under a tab named `Discussion` (placed under

[2018-02-26 15:45] AdiChat commented on #58
You may display the result of the calculation along with the expression above the results. :+1:

[2018-02-26 16:40] AneriMehta commented on #54
@Pl4gue I have solved this. What should I do, generate a PR?

[2018-02-26 19:54] Shweta4321 opened #68 "Adding .editorconfig to maintain consistent coding style across whole project."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request

**Description**:
 - EditorConfig helps to define and maintain consistent coding styles between different editors and IDEs.
- It will help to bring consistency in the project, and reinforces fixed and valid set of styles to be followed across, while making any changes in the project.

**Expected Behavior**:
Follo

[2018-02-26 19:54] Shweta4321 commented on #68
@AdiChat Shall I proceed further? Please suggest.

[2018-02-27 04:22] AneriMehta opened #70 "The random keywords in search box aren't always having a search result"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request

**Description**:

Some of the random algorithms that show up in the search box whenever cosmos-search is refreshed aren't having search results.

**Actual Behavior**:

Only those algorithms that are having solutions should show up in the search box.

**Would you like to work on this issue?**
- [x] Yes
- [ ] No

[2018-02-28 11:05] Pl4gue commented on #54
Restructuring the metadata.json isn't a proper solution for this as we are generating the metadata regularly. The problem stated by the author is the folder structure.
You may submit a PR anyway :)

[2018-02-28 11:40] AneriMehta commented on #54
Thanks @Pl4gue, We will also try to solve this by working on the folder structure.

[2018-02-28 18:25] #49 closed

[2018-02-28 19:12] #65 closed

[2018-02-28 21:00] muskan6769 opened #75 "correcting the input in search box in header.html"
DISCRIPTION:
In the search box ,there is a correction to be made as the"algo-name"it is not being removed when we start typing.

SCREENSHOTS:
![screenshot from 2018-03-01 02-26-02](https://user-images.githubusercontent.com/34505804/36812801-592bdd58-1cf8-11e8-9286-864e8f21f3ce.png)
![screenshot from 2018-03-01 02-25-58](https://user-images.githubusercontent.com/34505804/36812812-60043a62-1cf8-11e8

[2018-03-01 20:25] #40 closed

[2018-03-02 14:38] #75 closed

[2018-03-02 16:03] #67 closed

[2018-03-04 20:59] AdiChat commented on #68
Sure. Go for it :+1:

[2018-03-05 18:12] Shweta4321 opened #85 "The 'Travis' build is failing"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request

**Description**:
While we working with database the `python manage.py test ` is not executing.
The `Travis` build is failing because there are no commands regarding `makemigrations` and `migrate` in travis.yml.
**Expected Behavior**:

![screenshot from 2018-03-04 01-45-34](https://user-images.githubusercontent.c

[2018-03-05 18:13] Shweta4321 commented on #85
@AdiChat Shall i proceed?

[2018-03-05 19:31] sakshee-19 commented on #58
I am working on front end part of calculator. I will commit the code as soon as possible.

[2018-03-06 07:34] AdiChat commented on #85
Sure. Go for it :+1:

[2018-03-07 14:58] sakshee-19 opened #86 "Update .gitignore"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request

**Description**:
Some `directories` needs to be added and updated in `.gitignore`.

**Expected Behavior**:
The mentioned `directories` should not be tracked by `git`.

**Actual Behavior**:
![screenshot from 2018-03-07 20-18-52](https://user-images.githubusercontent.com/25522394/37099298-eedac11e-2245-11e8-83d7-2

[2018-03-08 13:12] sarvanideekshitula opened #88 "The search box needs to be cleared before giving a new query"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request

**Description**:
We have to clear search box every time before entering a new query.

**Expected Behavior**:
The search box should be cleared if the user wants to enter a different query.

**Actual Behavior**:
The search box is filled with the suggestion which the user has to clear every time.

**Steps to Reprod

[2018-03-09 13:09] AdiChat commented on #88
Yes, when the user types the pre-filled suggestion must be cleared. Go for it :+1:

[2018-03-09 15:19] AdiChat opened #91 "Include search results from trusted sites"
**I'm submitting a:**
- [ ] bug report
- [x] feature request

**Description**:

Include results from other trusted sites for a search term in addition to our current results.

To begin with, we may consider the following trusted sites:
* Wikipedia
* Tutorialspoint
* Stackoverflow

To fetch results, we may use create a crawler to crawl trusted sites or scrape the data from a search engine.

You may

[2018-03-09 15:38] Shweta4321 commented on #91
@AdiChat I would like to work on this.

[2018-03-09 21:53] AdiChat commented on #91
Sure @Shweta4321 Go for it :+1:

Keep us updated on your progress.

[2018-03-10 13:21] #85 closed

[2018-03-11 05:06] #86 closed

[2018-03-11 14:29] AdiChat opened #93 "Include videos as a search result"
**I'm submitting a:**
- [ ] bug report
- [x] feature request

**Description**:

Include video results :tv:  for a particular search term.

For this, you may use the Youtube API. A tab named `videos` under the search bar should appear. On clicking on the tab, video results will appear sequentially (4 results in a row). You may limit to top 50 results.

You may use the official Google python client

[2018-03-11 15:58] sakshee-19 commented on #93
@AdiChat I would like to work on it.

[2018-03-11 19:28] AdiChat commented on #93
Sure. Go for it :+1:

[2018-03-14 01:51] sakshee-19 commented on #93
@AdiChat Where should I display the data? In `searchResult.html` after displaying all `algorithm results`?

[2018-03-14 13:16] AdiChat commented on #93
You may display the videos on a tab named `Videos` under the search bar. On clicking the tab, the videos will appear while the other results will be hidden. Yes, it will be a part of `searchResult.html`. :+1:

[2018-03-14 19:19] #58 closed

[2018-03-16 05:00] iattempt commented on #70
Is this caused by order of keywords? such as that type `search linear` doesn't show up `linear_search.xx`?

[2018-03-16 11:43] sakshee-19 opened #99 "Allow search query with leading, trailing and extra in between spaces."
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request

**Description**:
It raises an error on searching a query  with leading, trailing, and extra spaces in between the words of a query.

**Expected Behavior**:
Allow a consistent query search. It should provide results of words with or without extra spaces.

**Actual Behavior**:
Query search is not consistent.
e.g.

[2018-03-16 11:48] sakshee-19 commented on #99
@AdiChat Please review.

[2018-03-16 13:42] sakshee-19 commented on #99
@iattempt  Adding an extra function call for trimming is not something we want. Please follow convention, and I have already made a pull request. I will make the changes for the same if asked. Please do ask before sending a PR for an issue, already having a PR.

[2018-03-17 11:38] iattempt commented on #91
@AdiChat In my opinion, we need to implement this with Ajax and lazy loading tech or we could code with client side (i.e., use JS), because:

1. Efficiency. Engine are always plan that give _precision_ results which users want, so we should just load recommendations from trust sites as top as need.
2. Slow down a bit. In some scenario, Users aren't always need all links, and he/she might possibly

[2018-03-18 06:34] muskan6769 commented on #93
@AdiChat I would like to work on this issue.

[2018-03-18 06:35] sakshee-19 commented on #93
@muskan6769 I am already working on this issue.

[2018-03-18 06:38] muskan6769 commented on #93
@sakshee-19 okk

[2018-03-20 19:37] AdiChat commented on #91
Yes, this will be nice. :+1:

It will reduce the load on the server and serve the initial results faster and thus, improving the user experience. :+1:

[2018-03-22 20:59] AdiChat opened #104 "Add support for human-curated lists"
**I'm submitting a:**
- [ ] bug report
- [x] feature request

**Description**:

Create a template/ system to serve human-curated lists :book:.

The list will be in `json` formats and will contain a list of links along with title and description. There will be sub-sections and each sub-section will contain links. There may be several such lists. Consider a list for "best resources to learn Go" deno

[2018-03-22 22:38] #99 closed

[2018-03-23 05:51] sakshee-19 commented on #104
@AdiChat I would like to work on it.

[2018-03-23 16:27] AdiChat commented on #104
Sure. Go for it :+1:

[2018-03-24 11:06] muskan6769 commented on #59
@AdiChat...Can I take up this issue.

[2018-03-24 16:57] #37 closed

[2018-03-24 17:03] AdiChat commented on #59
Sure @muskan6769 Go for it. :+1:

@pragyach It has been a month with no activity towards this feature, so, we are opening this feature for contributors. No worries. :+1:

[2018-03-26 13:38] sakshee-19 commented on #104
@AdiChat  As far as I understood the issue. For each query term available in tags.json there will be its title and description, subsections of each query will contain different sites(sources of data) and description of sites.  `grand-section` of each query will contain links, description of information related with `query` of the site(sources of data).

Please clarify what is `credit-link` and `ta

[2018-03-27 03:25] AdiChat commented on #104
This is independent of `tags.json`. You can think of this as a way to include lists in readmes like [this](https://github.com/OpenGenus/Best-student-discount-services) in search results.

Considering the readme in the example, the sub_sections will be `Collective discounts`, `Electronic devices`, `Productivity apps` and others. `GitHub Student Developer Pack`, `Student Advantage Card` and others w

[2018-03-31 16:18] #68 closed

[2018-04-02 12:07] Shweta4321 commented on #60
@AdiChat review.

[2018-04-02 12:19] #88 closed

[2018-04-07 22:40] muskan6769 commented on #59
@AdiChat I have a doubt.Authentication with google account is sufficient or I should also keep other option like fb or github...

[2018-04-08 04:37] AdiChat commented on #59
To begin with, you can keep one sign-up option.

Other options can be integrated after the basic authentication system is deployed. :+1:

[2018-04-11 15:19] Pratibha-Goyal opened #112 "Copy functionality in the code viewer has error"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request

**Description**:

The copy functionality should correctly copy the code with proper characters.

**Expected Behavior**:

The code viewer has a bug in the copy functionality. The copied code incorrectly contains &gt etc. in place of > and similar characters.

**Actual Behavior**:

The coped code should have the c

[2018-04-12 08:14] khatryshikha opened #114 "count of solutions for search results"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Description**:

Whenever we search for a query, the results for each directory path come in dropdown. It would be better if the user could see the number of solutions in each result so he/she can better select the solution box to pick first.

**Expected Behavior**:

There will be count of number of solutions f

[2018-04-12 16:17] Pratibha-Goyal opened #115 "Styling editor theme"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Description**:
Customising the code space.

**Expected Behavior**:
This might improve the visual appearance of the code space and make it suitable to user's preference.

**Actual Behavior**:
The user can toggle between the themes accordingly.

**Screenshots (if any)**:
![subblack](https://user-images.githubuse

[2018-04-14 07:46] Shweta4321 opened #119 "Add instructions for inserting YouTube API credentials"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request

**Description**:
To run the project locally, user should have instructions to ease the installation.

**Expected Behavior**:
Few instructions needs to be provided in README for guiding user to insert YouTube API credentials and create a cache table.

**Actual Behavior**:
Currently following the given set of inst

[2018-04-14 17:51] Shweta4321 commented on #62
@AdiChat @sangeeta2499 this feature is being implemented in voting features ```#73```

[2018-04-14 20:57] YousraDesoukey commented on #115
My team would like to implement this feature. Is it possible?

[2018-04-15 04:42] sakshee-19 commented on #70
@AdiChat @anne27 Can I take this issue??

[2018-04-15 05:09] sakshee-19 commented on #104
@AdiChat  Sorry for the delay, is this [structure](https://jsoneditoronline.org/?id=7ecf1b5fa3a36ae99129d0849b57df85) is fine for `best Resources to Learn`?

[2018-04-15 06:53] sakshee-19 commented on #37
@AdiChat While opening a code in search results, instead of displaying it in `Search Engine` it is redirecting to Github Code Link. I tried for terms `sort`, `round robin` and `heap sort`

[2018-04-15 10:58] YousraDesoukey commented on #115
@AdiChat Thank you for replying, but there are 12 issues and 13 pull requests, We think most of the features are already implemented. Then, what should we do so we can contribute?

[2018-04-15 13:47] AdiChat commented on #115
@YousraDesoukey There are some pull requests whose changes have been delayed. If you want, you can continue one of them. For instance, you can take a look at [this feature issue](https://github.com/OpenGenus/cosmos-search/issues/63) (and [the associated pull request](https://github.com/OpenGenus/cosmos-search/pull/74) to get an idea) as this will be relatively easy to begin with. Keep us informed

[2018-04-16 14:09] YousraDesoukey commented on #115
@AdiChat That's a great suggestion, thanks for your help. My team will try to work on this feature.

[2018-04-16 18:38] #119 closed

[2018-04-16 19:28] khatryshikha opened #122 "Solutions dropdown in each solution view"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Description**:
Currently, whenever we search for a query, we get compiled search results in different cards. When a user clicks on a particular solution from the dropdown, he/she is redirected to another page with that solution. However is the use wants to see the same solution implemented in different languag

[2018-04-16 20:04] YousraDesoukey commented on #115
@AdiChat We implemented the feature you suggested and made a pull request, and there were no conflicts. However, the Travis CI build has failed. It says that "all checks have failed", and we're not sure why this happened. Could you please help us with this problem?

[2018-04-17 21:35] #114 closed

[2018-04-18 16:32] AdiChat commented on #115
@YousraDesoukey Sure. It looks like that there are styling issues. You can view the error [here](https://travis-ci.org/OpenGenus/cosmos-search/jobs/367331603) which claims `The command "flake8 ." exited with 1.`.

Formatting your code to conform to the PEP 8 style guide should solve this. :+1:

[2018-04-20 10:35] reallinfo opened #125 "New logo for Cosmos-Search"
Hello, I designed several logos for cosmos search. If you like any of these, I will send you a pr and files.

Also, If there's anything you want, I can design it.

![cosmos-search](https://user-images.githubusercontent.com/36298335/39046692-b16d7fca-449f-11e8-84a2-6ccf2a970d28.jpg)

[2018-04-21 10:36] reallinfo commented on #125
I am glad you like it :) I sent a pr. Please check. https://github.com/OpenGenus/cosmos-search/pull/126

Here are the all files.

https://drive.google.com/open?id=1y3qu8tn47kM1ZsWZdlqFVk5uh-5izJl_

[2018-04-22 09:56] AdiChat commented on #125
Nice work :+1:

We do need custom logos for all our works.

The logos do look good but if it is something similar to our OpenGenus logo or smoother it will be nice. Maybe you can experiment with some more designs before we finalize a logo.

[2018-04-22 10:55] reallinfo commented on #125
Okay, I designed another logo. How is that?

![cs](https://user-images.githubusercontent.com/36298335/39094210-bfddf6de-4634-11e8-9ab1-21e62af24ade.jpg)

[2018-04-23 10:25] AdiChat commented on #125
Looks perfect :heart_eyes:

[2018-04-23 11:30] reallinfo commented on #125
Thanks, I can send you a pr, readme and editable files if you want.

[2018-04-23 11:48] AdiChat commented on #125
Sure. Go for it :+1:

[2018-04-23 13:25] reallinfo commented on #125
I sent a new pr https://github.com/OpenGenus/cosmos-search/pull/128

[2018-06-05 11:11] itsron717 opened #131 "Unable to install requirements.txt with conda virtual env"
**Description**:
Unable to install python-decouple with conda.
Gives a package not found error.
![screen shot 2018-06-05 at 16 40 33](https://user-images.githubusercontent.com/25689739/40972704-31c9f488-68df-11e8-93c0-2d87c7989acd.png)

[2018-06-05 14:28] itsron717 commented on #131
Nevermind. The issue is fixed. One can locally install pip inside the virtual environment using -
`conda install pip` and continue with the standard procedure.

[2018-06-05 14:29] #131 closed

[2018-06-05 19:11] itsron717 opened #132 "Updated README for Anaconda (Conda) Users"
**I'm submitting a:**
- [x] bug report
- [ ] feature request

**Description**:

While setting up the search engine locally, Anaconda Users might face a problem while installing requirements.txt in their virtual environment (as conda users cannot use `virtualenv -m python3 env_name`), I have a fix for this and would like to open a PR with an updated README.md

**Expected Behaviour**:

All the packa

[2018-06-06 14:10] #132 closed

[2018-06-11 15:42] #63 closed

[2018-06-29 18:48] #104 closed

[2018-08-14 08:28] itsron717 opened #142 "No Favicon support for website"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request

**Description**:

There's a favicon for cosmos-search but it's not showing up on the website.  It has to be added.

**Expected Behavior**:

Show OpenGenus logo as favicon.

**Would you like to work on this issue?**
- [ ] Yes
- [x] No

[2019-02-23 23:06] sorablaze11 opened #144 "Updated the method of loading json files(Windows users)."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request

**Description**:
While setting up the search engine locally, I encountered an issue regarding the loading of json file in windows which was occuring due to different encoding formats. The error shown was
 `
UnicodeDecodeError
'charmap' codec can't decode byte 0x90 in position 127: character maps to <undefined>
`

[2019-02-24 11:59] #144 closed

[2019-04-24 12:34] itsron143 opened #147 "PR #143 not loading content when run locally"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request

**Description**:

This is in reference to the PR #143. After this, When I run the web app locally, none of the contents are being shown on the web page.

**Actual Behavior**:

![Screenshot 2019-04-24 at 6 02 44 PM](https://user-images.githubusercontent.com/25689739/56659604-3116b500-66bb-11e9-968f-85415744c167.p

[2020-08-09 17:05] ExpressHermes commented on #142
I would like to work on this issue

[2020-08-10 10:54] itsron143 commented on #142
Go for it!